.fonts {
    font-family: "Lobster", cursive;
}
body {
    color: var(--color);
    font-size: var(--font-size);
    line-height: var(--line-height-1-6);
    font-weight: var(--font-weight400);
    background-color: var(--body-color)!important;
    font-family: "Outfit", sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
}
.form-label{
    color: var(--color);
}
input{
    background-color: var(--card-body);
}
.text-pr{
    color: var(--primary-color)!important;
}
.bg-color-pr{
    background-color: var(--primary-color)!important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--color);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 11px 40px;
    font-size: .875rem;
    line-height: 1.35em;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover{
    color: var(--color);
}
.btn:not([data-action]):hover{
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transform: translateY(-1px);
}
.primary-btn{
    border: none;
    position: relative;
    overflow: hidden;
    margin: 4px 1px;
    border-radius: 0.4285rem;
    cursor: pointer;
    background-image: var(--pr-gradient);
    background-size: 210% 210%;
    background-position: 100% 0;
    background-color: var(--primary-color);
    transition: all .15s ease;
    box-shadow: none;
    color: var(--white-color);
    background: var(--primary-color);
}
.primary-btn:hover{
    color: var(--white-color);
}
.icon-btn{
    border-color: var(--border);
}
.text-google{
    color: var(--google)!important;
}
.text-twitter{
    color: var(--twitter)!important;
}
.text-facebook{
    color: var(--facebook)!important;
}